absl-py==2.2.0
albucore==0.0.23
albumentations==2.0.5
amqp==5.3.1
annotated-types==0.7.0
anyio==3.7.1
asgiref==3.8.1
astunparse==1.6.3
async-timeout==5.0.1
backports.tarfile==1.2.0
billiard==4.2.1
boto3==1.37.1
botocore==1.37.1
cachetools==5.5.2
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-log==0.4.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
deprecation==2.1.0
dj-database-url==2.3.0
Django==4.2.20
django-allauth==65.5.0
django-cors-headers==4.7.0
django-filter==25.1
django-formtools==2.5.1
django-model-utils==5.0.0
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-storages==1.14.5
django-two-factor-auth==1.17.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
docutils==0.21.2
dotty-dict==1.3.1
drf-yasg==1.21.9
eval_type_backport==0.2.2
exceptiongroup==1.2.2
flatbuffers==25.2.10
fonttools==4.56.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
googleapis-common-protos==1.69.2
gotrue==0.5.0
grpcio==1.71.0
h11==0.12.0
h5py==3.13.0
httpcore==0.14.7
httplib2==0.22.0
httpx==0.21.3
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
inflection==0.5.1
invoke==1.7.3
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jmespath==1.0.1
keras==3.9.0
keyring==25.6.0
kiwisolver==1.4.7
kombu==5.4.2
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==10.6.0
namex==0.0.8
nh3==0.2.21
numpy==2.0.2
oauthlib==3.2.2
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pillow==11.1.0
pkginfo==1.12.1.2
postgrest-py==0.10.2
prompt_toolkit==3.0.50
proto-plus==1.26.1
protobuf==5.29.4
psycopg==3.2.5
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments==2.19.1
PyJWT==2.9.0
pyparsing==3.2.1
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-gitlab==3.15.0
python-semantic-release==7.28.1
pytz==2025.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==7.4.2
readme_renderer==44.0
realtime==0.0.4
redis==5.2.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.4
rsa==4.9
s3transfer==0.11.2
semver==2.13.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sqlparse==0.5.3
storage3==0.3.4
supabase==0.5.7
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
tomlkit==0.10.2
tqdm==4.67.1
twine==3.8.0
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.13
websockets==9.1
Werkzeug==3.1.3
wrapt==1.17.2
zipp==3.21.0
